#wrapper{
	margin: 0 auto 0 auto;
	padding-left: 4%;
}

#card{
	display: inline-block;
	border: solid 1px lightblue;
	width: 30%;
	margin-right: 2%;
	margin-bottom: 4%;
}

.section1 > header{
	border: dotted 1px lightgray;
	text-align: center;
}

.image{
	margin: 5% auto 0 auto;

}
p{
	padding: 2%;
	text-align: justify;
}
h4.avail{
	background-color: gray;
	color: yellow;
	padding: 2%;
}

li{
	list-style-type: none;
}